In [1]:
from   scipy  import stats
import pandas as pd
import numpy  as np

In [2]:
dataset = pd.read_csv('HRV(RMSSD) Data Set.csv')
dataset.columns = ['id', 'group'] + list(range(0, 21, 2))

# mean values per phase
groups  = dataset.copy()

groups['T1'] = groups.iloc[:,3:8].mean(axis = 1)   # [ 2, 10]
groups['T2'] = groups.iloc[:,4:8].mean(axis = 1)   # [ 4, 10]
groups['T3'] = groups.iloc[:,5:8].mean(axis = 1)   # [ 6, 10]
groups['T4'] = groups.iloc[:,6:8].mean(axis = 1)   # [ 8, 10]
groups['T5'] = groups.iloc[:,7]                    # [10, 10]
groups['T6'] = groups.iloc[:,8:10].mean(axis = 1)  # [12, 14]
groups['T7'] = groups.iloc[:,10:13].mean(axis = 1) # [14, 20]

groups  = groups.iloc[:,[0, 1, 2, -7, -6, -5, -4, -3, -2, -1]].copy()

# mean times ([2, 10], [12, 14], [16, 20])
groups.columns = ['id', 'group', 0, ' 2-10', ' 4-10', ' 6-10', ' 8-10', '10-10', '12-14', '16-20']

display(dataset.head())
display(groups.head())

c1 = groups.columns[[0, 1, 3, 8, 9]]
c2 = groups.columns[[0, 1, 4, 8, 9]]
c3 = groups.columns[[0, 1, 5, 8, 9]]
c4 = groups.columns[[0, 1, 6, 8, 9]]
c5 = groups.columns[[0, 1, 7, 8, 9]]

g1 = groups[c1]
g2 = groups[c2]
g3 = groups[c3]
g4 = groups[c4]
g5 = groups[c5]

groups = [g1, g2, g3, g4, g5]

,id,group,0,2,4,6,8,10,12,14,16,18,20
0,1,Group A,0,4.349499,2.332740,0.866309,1.128269,2.323326,6.772574,10.429308,4.126795,3.542454,0.132981
1,5,Group A,0,1.677594,0.039062,-1.805596,-0.699485,4.100669,5.306848,7.757402,4.743457,1.978138,-0.987276
2,7,Group A,0,4.602275,5.052061,3.931895,6.457339,5.521690,5.833740,9.396320,8.283913,1.771258,-1.243988
3,9,Group A,0,-8.810611,-6.831975,-4.594777,-4.415607,1.209170,4.630715,9.268901,11.916559,13.161639,16.832487
4,10,Group A,0,-16.864643,-8.846720,-2.649177,-2.040748,0.566561,0.053469,-4.269396,-2.101262,6.197839,9.532302

,id,group,0,2-10,4-10,6-10,8-10,10-10,12-14,16-20
0,1,Group A,0,2.200029,1.662661,1.439301,1.725797,2.323326,8.600941,2.600743
1,5,Group A,0,0.662449,0.408662,0.531863,1.700592,4.100669,6.532125,1.911439
2,7,Group A,0,5.113052,5.240746,5.303641,5.989514,5.521690,7.615030,2.937061
3,9,Group A,0,-4.688760,-3.658297,-2.600404,-1.603218,1.209170,6.949808,13.970229
4,10,Group A,0,-5.966946,-3.242521,-1.374455,-0.737094,0.566561,-2.107963,4.542960

In [3]:
dataset.shape

(53, 13)

In [4]:
X, y = categorical_individual_design(dataset)

X.shape

NameError: name 'categorical_individual_design' is not defined

In [ ]:
dataset.iloc[0]

id               1
group      Group A
0                0
2         4.349499
4          2.33274
6         0.866309
8         1.128269
10        2.323326
12        6.772574
14       10.429308
16        4.126795
18        3.542454
20        0.132981
Name: 0, dtype: object

In [7]:
def compute_statistics(X, y):
    """ computes t-statistics and significances """
    theta = np.linalg.solve(X.T @ X, X.T @ y)
    m     = len(theta)
    r     = X @ theta - y
    s     = np.std(r, ddof = m)
    sed   = s * np.sqrt(np.diag(np.linalg.inv(X.T @ X)))
    alpha = 0.05
    t     = (theta - 0) / sed
    T     = stats.t(len(X) - m)
    c     = T.ppf(1 - alpha / 2) * sed
    ci    = np.array([theta, theta - c, theta + c])
    return t, 1 - T.cdf(t), ci
    
def experiment(dataset):
    X = []
    y = []
    for i in dataset.index:
        g = dataset.iloc[i, 1] == 'Group A'
        for j, time in enumerate(range(2, 21, 2)):
            x = np.zeros(11)
            x[j] = 1
            x[-1] = g
            X.append(x)
            y.append(dataset.iloc[i, 3 + j])

    X, y = map(np.array, [X, y])

    t, p, ci = compute_statistics(X, y)

    return ['theta(A)'], ci.T[[-1]], t[[-1]], p[[-1]], 'y(t, A) = theta(t) + g(A) · theta(A)'

def experiment_group(k):
    group = groups[k]
    X = []
    y = []
    for i in group.index:
        g = group.iloc[i,1] == 'Group A'
        for j, p in enumerate(range(3)):
            x = np.zeros(6)
            x[j] = 1
            x[j + 3] = g
            X.append(x)
            y.append(group.iloc[i, 2 + j])

    X, y = map(np.array, [X, y])

    theta    = ['theta(1, A)', 'theta(2, A)', 'theta(3, A)']
    t, p, ci = compute_statistics(X, y)
    eq       = f'y(p, A) = theta(p) + g(A) · theta(p, A),    p_1 = {list(range(2 * k + 2, 11, 2))}, p_2 = {list(range(12, 15, 2))}, p_3 = {list(range(16, 21, 2))}'
    ret      = theta, ci.T[3:], t[3:], p[3:], eq
    return ret

def pprint(theta, ci, tstat, pvalue, eq):
    print('parameter   | value   | confidence interval | t-statistic | p-value  | significance')
    print('------------+---------+---------------------+-------------+----------+-------------')
    for (p, (v, l, u), ts, pv) in zip(theta, ci, tstat, pvalue):
        s = '***' if pv < 0.001 else '**' if pv < 0.01 else '*' if pv < 0.05 else ''
        print(f'{p:11s} | {v:7.4f} | [{l:7.4f}, {u:7.4f}]  | {ts:9.6f}   | {pv:.6f} | {s}')
    print('-----------------------------------------------------------------------------------')
    print()
    print(eq)

pprint(*experiment(dataset))

for i in range(5):
    print('\n\n')
    pprint(*experiment_group(i))

parameter   | value   | confidence interval | t-statistic | p-value  | significance
------------+---------+---------------------+-------------+----------+-------------
theta(A)    |  6.5436 | [ 3.4002,  9.6870]  |  4.089609   | 0.000025 | ***
-----------------------------------------------------------------------------------

y(t, A) = theta(t) + g(A) · theta(A)



parameter   | value   | confidence interval | t-statistic | p-value  | significance
------------+---------+---------------------+-------------+----------+-------------
theta(1, A) |  6.3083 | [-3.6405, 16.2571]  |  1.252675   | 0.106118 |
theta(2, A) |  6.9460 | [-3.0029, 16.8948]  |  1.379294   | 0.084908 |
theta(3, A) |  6.6676 | [-3.2812, 16.6164]  |  1.324018   | 0.093736 |
-----------------------------------------------------------------------------------

y(p, A) = theta(p) + g(A) · theta(p, A),    p_1 = [2, 4, 6, 8, 10], p_2 = [12, 14], p_3 = [16, 18, 20]



parameter   | value   | confidence interval | t-statistic | p-value  | significance
------------+---------+---------------------+-------------+----------+-------------
theta(1, A) |  7.3357 | [-2.7477, 17.4192]  |  1.437254   | 0.076344 |
theta(2, A) |  6.9460 | [-3.1375, 17.0294]  |  1.360883   | 0.087776 |
theta(3, A) |  6.6676 | [-3.4158, 16.7510]  |  1.306345   | 0.096698 |
-----------------------------------------------------------------------------------

y(p, A) = theta(p) + g(A) · theta(p, A),    p_1 = [4, 6, 8, 10], p_2 = [12, 14], p_3 = [16, 18, 20]



parameter   | value   | confidence interval | t-statistic | p-value  | significance
------------+---------+---------------------+-------------+----------+-------------
theta(1, A) |  8.4512 | [-1.7278, 18.6302]  |  1.640241   | 0.051505 |
theta(2, A) |  6.9460 | [-3.2331, 17.1250]  |  1.348104   | 0.089809 |
theta(3, A) |  6.6676 | [-3.5114, 16.8466]  |  1.294078   | 0.098794 |
-----------------------------------------------------------------------------------

y(p, A) = theta(p) + g(A) · theta(p, A),    p_1 = [6, 8, 10], p_2 = [12, 14], p_3 = [16, 18, 20]



parameter   | value   | confidence interval | t-statistic | p-value  | significance
------------+---------+---------------------+-------------+----------+-------------
theta(1, A) |  9.1966 | [-1.0150, 19.4083]  |  1.779231   | 0.038594 | *
theta(2, A) |  6.9460 | [-3.2657, 17.1576]  |  1.343800   | 0.090501 |
theta(3, A) |  6.6676 | [-3.5440, 16.8792]  |  1.289947   | 0.099508 |
-----------------------------------------------------------------------------------

y(p, A) = theta(p) + g(A) · theta(p, A),    p_1 = [8, 10], p_2 = [12, 14], p_3 = [16, 18, 20]



parameter   | value   | confidence interval | t-statistic | p-value  | significance
------------+---------+---------------------+-------------+----------+-------------
theta(1, A) |  9.4942 | [-0.7172, 19.7056]  |  1.836838   | 0.034087 | *
theta(2, A) |  6.9460 | [-3.2654, 17.1574]  |  1.343828   | 0.090497 |
theta(3, A) |  6.6676 | [-3.5438, 16.8790]  |  1.289973   | 0.099503 |
-----------------------------------------------------------------------------------

y(p, A) = theta(p) + g(A) · theta(p, A),    p_1 = [10], p_2 = [12, 14], p_3 = [16, 18, 20]